:root{
    --font-ralewey: 'Raleway', sans-serif;
    --gris-bajito: #E5E5E5;
    --azul-bajito: #EAF2FD;
}

.container{
    padding: 1rem 1rem;
}

.titulos{
    font-size: 1.3rem;
    text-align: center;
    padding: .5rem 0;
    text-transform: uppercase;
}

body{
    font-family: var(--font-ralewey);
}