.cabecera__contenido{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    background: var(--gris-bajito);
}

.cabecera__titulo{
    font-size: 2rem;
    font-family: var(--font-ralewey);
}

.cabecera__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecera__menu:hover > .cabecera__lista{
    display: flex;
    align-items: center; 
    flex-direction: column;
}
    
.cabecera__lista{
    display: none;
}

.cabecera__item{
    padding: .3rem 0;
}

