.contacto{
    background: var(--gris-bajito);
}

.contacto__introduccion{
    padding-bottom: 1rem;
}

.contacto__formulario-campo-personal, .contacto__formulario-campo-mensaje{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacto__formulario-label{
    padding: .3rem 0;
}

.contacto__formulario-input{
    width: 70%;
    max-width: 300px;
}

.contacto__formulario--mensaje{
    height: 3rem;
}

.contacto__formulario-boton-enviar{
    margin-top: 1rem;
}
