.skills{
    background: var(--gris-bajito);
}

.skills__contenido{
    display: flex;
    flex-wrap: wrap;
}

.skills__item{
    display: flex;
    flex-direction: column;
    width: calc(50% - 1rem);
    padding: 0 .5rem 1rem .5rem;
    align-items: center;
}

.skills__item-imagen{
    background: gray;
    width: 100%;
    height: 100px;
    margin-bottom: .5rem;
}

.skills__item--imagen-html{
    background: url(../img/html5-logo.png) center / 99% no-repeat;
    
}

.skills__item--imagen-js{
    background: url(../img/javascript-logo.png) center / 45% no-repeat;
    width: 100%;
    height: 100%;
}

.skills__item--imagen-css{
    background: url(../img/css3-logo.png) center / 70% no-repeat;
}

.skills__item--imagen-sql{
    background: url(../img/sql-logo.png) center / 70% no-repeat;
}